{% extends "base.html.twig" %}

{% block title %}Weakling{% endblock %}

{% block body %}
    <div class="dashboard-container">
        <header class="welcome-message">
            <h1>{{ message }}</h1>
        </header>
        <a class="quest-button" href="{{ quest }}">Start your first quest</a>
    </div>
{% endblock %}
